#divPrincipal{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin-left: 90px;
}

#botones {
    display: flex;
    gap: 10px   ;
}

#footer
{
    background-color: #0082e6;
    color: white;
    
}